

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
	.logoImg {
		width: 300px;
	}

	.tablet {
		position: relative;
		z-index: 1;
		width: 100%;
		left: 0;
		top: 5;
	}  
	 
	
}

/* Custom CSS for small screens */
@media (max-width: 576px) {
	.table-responsive {
	  display: block;
	  max-height: 300px; /* Adjust the maximum height as needed */
	  overflow-y: auto;

	}
	.tablet {
		position: fixed;
		z-index: 3;
		width: 100% !important;
		left: 0;
		top: 2;
	}  
	 

	.logoImg {
		width: 300px;
	}
	
	.table {
	  width: 100%; /* Make the table full width on small screens */
	  margin-right: 10px;
	}

	.Sidebar {
		width: 10px;
		top: 0;
	}


  }




  @media (max-width: 768px) {
	/* Adjust the width for medium screens and smaller (max-width: 768px) */
	.Sidebar {
	  width: 150px;
	}
	.logoImg {
		width: 500px;
	}

	.tablet {
		position: fixed;
		z-index: 3;
		width: 100% !important;
		left: 0;
		top: 2;
	}  


  
  }

  @font-face {
	font-family: bea;
	src: url(../public/bea.ttf);
  }
  @font-face {
	font-family: type;
	src: url(../public/coolvetica\ rg.otf);
  }

  .sticky {
	position: sticky;
	top: 0;
	z-index: 1;
  }

  .navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  
  
  
  
  
  



* {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	width: 99vw;
	height: 100vh;
}

#root {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}



body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	justify-content: center;
	display: flex;
  }


.Sidebar {
	height: 45vh;
	width: 220px;
	background-color: transparent;
	padding: 0px;
	position: fixed;
	left: 0;
 	
}
.sideBarButton {
	background-color: transparent;
	color: #4C0000;
	border: none;
	padding-left: 12px;
	font-size: 20px;
	
}

.dropdown-custom {
	color: #F4E3E3 !important;
	transition: color 0.3s ease !important;
}
.dropdown-custom:hover {
	background-color: #1B2E3C; 
	color: rgb(47, 172, 172) !important; 
  }

.sideBarButton:hover {
	color: #1B2E3C
}

.navMain {
	background-color: #1B2E3C;
	color: #F4E3E3;
	position: absolute;
}



.sidePanel {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
	padding-left: 0px;
	display: flex;
	align-items: center;
	margin: 10px;
}

.sidePanel.active {
	background-color: #1B2E3C; 
	color: white; 
  }


  thead, td {
	width: 160px;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
  }

  th {
	width: 160px;
	text-align: center;
	vertical-align: middle;
	font-family: "type", sans-serif;
  }

  table {
	border-radius: 10px;
  }

  .logo {
	display: flex;
	justify-content: center; 
	align-items: center; 
	height: 60vh; 
	margin-top: 50px;
	
  }

  .logoImg {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  
.background-image {
	background-image: url('./images/backgroundPF.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.1); 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: auto;
  }

  .transparent-bg {
	background-color: rgba(255, 255, 255, 0.1);
  }
  
 
.custom-heading {
	font-family: "bea", sans-serif;
	color: #1B2E3C;
  }

  
.orderButton {
	background-color: #4C0000;
	color: #F4E3E3;
	padding: 10px 20px;
	border: 2px solid #4C0000;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .orderButton:hover {
	background-color: #F4E3E3;
	color: #4C0000;
	border-color: #F4E3E3;
  }

  .shadowed {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  }

 /* cart-modal.css */
.cart-back {
	background-color: black;
}

.cartButton {
	background-color:  #1B2E3C;
	color: #F4E3E3;
	padding: 1px 5px 1px 0.5px;
	border: 2px solid  #1B2E3C;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s, font-size 0.3s;
}

.cartButton:hover {
	background-color: #1B2E3C;
	color: cyan;
	font-size: 20px;
  }


.cart-item-list {
	background-color: #1B2E3C; 
	padding: 20px;
	border-radius: 8px;
	min-height: 50vh;
  }
  
  .cart-item {
	color: black; 
	background-color: #F4E3E3; 
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	font-family: "type", sans-serif;
  }
  
  .cart-item h6 {
	color: #0C0C1E; 
  }
  
  .cart-item p {
	margin: 0;
  }
  
  .cart-item .grandTotal {
	color: #4C0000; 
  }
  
  .smaller-button {
  background: transparent;
  border: 2px solid #0C0C1E; 
  color: #0C0C1E; 
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
  }

  .smaller-button:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)); /* Transparent gradient background on hover */
	transform: translateY(-2px); /* Move the button up slightly on hover */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Apply a subtle box shadow on hover for depth */
  }

  .cart-font {
	font-family: "type", sans-serif;
  }

  .grandTotal {
	font-family: "type", sans-serif;
	margin-top: 10px;
	margin-left: auto;
	color : #F4E3E3 
  }

  .custom-heading-cart {
	font-family: "bea", sans-serif;
	color: #F4E3E3 ;
  }

  .description {
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	color: #5F4740;
	font-family: 'bea', sans-serif;
  }

  .cardMain {
	font-family: "type", sans-serif;
	margin-top: 15px;
	color : #1B2E3C !important;
	text-decoration: none;
	height: 300px;
	width: 300px;
	max-height: 300px;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease;
	background-color: #F4E3E3;
	box-sizing: border-box;
	 
  }

  .cardMain:hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
	transition: 0.2s ease;
  }

  .cardContainer {
	margin: 0 auto !important;
  }

  .viewImage {
	border: 10px solid;
	padding: 10px;
	border-image: url(./images/border.png) 90 round;
  }

  .card-price {
	font-size: 17px;
  }

  .description-container {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
  }

  .wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }

  .custom-icon-color {
	color: #F4E3E3; 
  }

  .sideBarLi {
	background-color: transparent;
	color: #F4E3E3;
	border: none;
	padding-left: 12px;
	font-size: 20px;
	text-decoration: none;
}

.sideBarLi:hover {
	color: #8f8f8f
}

.gray-text {
	color: rgb(198, 34, 34);
}








/*

black #0C0C1E
blue #1B2E3C
crimson #4C0000
cream #F4E3E3 

*/



  footer {
	background-color: #1B2E3C;
	color: #F4E3E3;
	font-family: "bea", sans-serif;
	padding: 20px 0;
	text-align: center;
  }



  /* OffCanvasMenu.css */
.off-canvas-menu {
	position: fixed;
	top: 30;
	left: -250px; /* Move it off-screen */
	width: 200px;
	height: 100%;
	background-color: darkslategray;
	color: white;
	transition: left 0.3s ease;
  }
  
  .menu-toggle {
	position: fixed;
	z-index: 1;
	top: 105px;
	left: 20px;
	font-size: 24px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #4C0000;
  }
  
  .menu-list {
	list-style: none;
	padding: 5px;
	margin: 50px 20px 20px 20px;
  }
  
  .menu-list li {
	padding: 10px;
	color: #4C0000;
	border: none;
	padding-left: 12px;
	font-size: 15px;
	text-decoration: none;
  }
  
  .open {
	left: 0; /* Slide it into view */
  }

  /* Add this to your CSS file */
.menu-toggle-hidden {
	display: none;
  }

.view-image {
	border-radius: 5px;
}

